extends ../_template

block content
    +preloader()
    .wrapper
        +hero()
        +hamburger()
        +navigation()
        section.section.sec-works.js-section
            +leftTriangle('works')
            +rightTriangle('works')
            +sectionTitle('works_header', 'Мои работы', 'works')
            .sec-works__content#slider
                .sec-works__col_left
                    .sec-works__wrapper.sec-works__wrapper--left
                        .slider__image-wrapper.js-slider-display
                            img.slider__image.js-slider-display-img(src='assets/images/img-1.png', alt='img-1.png')
                        .work
                            +blockTitle('Сайт школы онлайн образования')
                            p.work__tehnologes.js-slider-tehnologes HTML, CSS, JAVASCRIPT
                            a.work__link.js-slider-site(href='https://vk.com/max_orel', target="_blank")
                                span.work__link-text Посмотреть сайт
                                    svg.work__link-icon
                                        use(xlink:href="assets/images/sprite.svg#icons--link")
                .sec-works__col_right
                    .sec-works__wrapper.sec-works__wrapper--right
                        .slider-list
                            a.slider-list__link.js-slider-bth--left(href='#')
                                ul.slider-list__list.js-slider-list
                                    each index in items
                                        li.slider-list__item.js-slider-item(data-full=`${index.picture}`, data-title=`${index.name}`, data-skills=`${index.teh}`, data-link=`${index.link}`)
                                            img.slider-list__image(src=`${index.picture}`, alt=`${index.name}`)
                                .slider-arrow
                                    svg.slider-arrow__img
                                        use(xlink:href="assets/images/sprite.svg#icons--arrow_down")
                            a.slider-list__link.js-slider-bth--right(href='#')
                                ul.slider-list__list.js-slider-list
                                    each index in items
                                        li.slider-list__item.js-slider-item(data-full=`${index.picture}`, data-title=`${index.name}`, data-skills=`${index.teh}`, data-link=`${index.link}`)
                                            img.slider-list__image(src=`${index.picture}`, alt=`${index.name}`)
                                .slider-arrow.slider-arrow--top
                                    svg.slider-arrow__img
                                        use(xlink:href="assets/images/sprite.svg#icons--arrow_down")
        section.section.reviews
            .reviews__background
                img.js-reviews-bg(src='assets/images/bg-footer.png')
            +sectionTitle('about_header', 'Что обо мне говорят', 'reviews')
            ul.reviews-list
                li.reviews-item
                    i.reviews-item__icon
                    p.reviews-item__text
                        |Этот парельно проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых
                        |тяжелых испытаний и бессонных ночей!
                    .reviews-hero
                        img.reviews-hero__img(src='assets/images/dmitriy.jpg', alt='review-hero', title='review-hero')
                        .reviews-hero__content
                            p.reviews-hero__name Ковальчук Дмитрий
                            p основатель Loftschool
                li.reviews-item
                    i.reviews-item__icon
                    p.reviews-item__text
                        |Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых
                        |браузерах!
                    .reviews-hero
                        img.reviews-hero__img(src='assets/images/vladimir.jpg', alt='review-hero', title='review-hero')
                        .reviews-hero__content
                            p.reviews-hero__name Сабанцев Владимир
                            p преподаватель
            form.feedback__wrapper.js-feedback-wrapper#feedbackForm(action='contact' method="POST")
                .feedback__bg.js-feedback-bg
                .feedback
                    .feedback__inner
                        +blockTitle('Связаться со мной', 'feedback')
                        .feedback-form
                            .feedback-form__item
                                label.feedback-form__lebel
                                    input.feedback-form__input(name='name', type='text', placeholder='Имя', required)
                            .feedback-form__item
                                label.feedback-form__lebel
                                    input.feedback-form__input(name='email', type='email', placeholder='Email', required)
                            .feedback-form__item
                                label.feedback-form__lebel
                                    textarea.feedback-form__textarea(name='text', placeholder='Ваше сообщение', required)
                    .feedback-buttons
                        input.feedback-button.feedback-button--send(type='submit', value='Отправить')
                        input.feedback-button.feedback-button--clear(type='reset', value='Очистить')
            +arrow('feedback')
        +footer('portfolio')
        +popup()